/*-===============================
    CTA AREA
===============================-*/
.cta-ara {
  position: relative;
  z-index: 1;
  .cta-img-wrap {
    margin-top: 35px;
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 550px;
    background-color: $theme-color-5;
    @media #{$tab_device} {
      height: 1050px;
    }
    @media #{$large_mobile} {
      height: 950px;
    }
  }
}
.cta-img-box {
  position: relative;
  z-index: 1;
  @media #{$tab_device} {
    margin-bottom: 30px;
  }
  @media #{$large_mobile} {
    margin-bottom: 30px;
  }
  @media #{$small_mobile} {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    @include border-radius(4px);
    @include box-shadow(0 20px 50px rgba(14, 16, 48, 0.09));
  }
  .img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    @include transform(translate(-50%, -50%));
    text-transform: capitalize;
    font-weight: $font-weight-semi-bold;
    color: $white;
    z-index: 1;
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-color;
    opacity: .60;
    @include border-radius(4px);
  }
}
/*-===============================
    PROMO AREA
===============================-*/
.promo-area {
  position: relative;
  background-image: url("../images/promo-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  .promo-content {
    position: relative;
    z-index: 1;
  }
  .section-heading {
    .section__title {
      font-size: $display-3;
      line-height: 85px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      @media #{$large_mobile_three} {
        font-size: $display-4;
        line-height: 60px;
      }
      @media #{$large_mobile_four} {
        font-size: $display-5;
        line-height: 50px;
      }
    }
  }
  .section-description {
    .section__desc {
      font-size: $display-13;
    }
  }
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $theme-color;
    opacity: .95;
    content: "";
  }
  .circle-shape,
  .circle-shape2 {
    position: absolute;
    left: 100px;
    bottom: 75px;
    z-index: 1;
    @media #{$small_mobile_four} {
      display: none;
    }
    div {
      position: absolute;
      background-color: rgba(255,255,255,0.1);
      width: 12px;
      height: 12px;
      @include border-radius(50%);
      &.circle-one {
        left: -40px;
        bottom: 60px;
      }
      &.circle-two {
        left: 0;
        top: -30px;
        width: 45px;
        height: 45px;
      }
      &.circle-three {
        left: 60px;
        top: -180px;
        width: 95px;
        height: 95px;
      }
    }
  }
  .circle-shape2 {
    left: auto;
    right: 240px;
    bottom: auto;
    top: 100px;
    @include transform(rotate(90deg));
  }
}